<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link rel="stylesheet" href="style.css">
</head>
<body>
    
<header class="header">

<section class="flex">

<a href="home.html" class="logo">TECHUB</a>

<nav class="navbar">
   <a href="home.html">Home</a>
   <a href="about.html">About</a>
   <a href="team.html">Team</a>
   <a href="contact.html">Contact</a>
</nav>

<div class="icons">
    <div id="user-btn" class="fas fa-user"></div>
    <div id="menu-btn" class="fas fa-bars"></div>
</div>

<div class="profile">
    <div class="flex">
        <a href="profile.html" class="btn">profile</a>
        <a href="#" class="delete-btn">logout</a>
    </div>
    <p class="account"><a href="login.html">login</a> or <a href="register.html">register</a></p>
</div>

</section>

</header>

<div class="heading">
    <h3>My Profile</h3>
    <p><a href="home.html">Home </a> <span> / Profile</span></p>
 </div>
 
 <section class="user-details">
 
    <div class="user">
       <img src="user-icon.png" alt="">
       <p><i class="fas fa-user"></i> <span>Obiekwu</span></p>
       <p><i class="fas fa-phone"></i> <span>08069489872</span></p>
       <p><i class="fas fa-envelope"></i> <span>fredriick@icloud.com</span></p>
       <a href="update_profile.html" class="btn">update profile</a>
       <p class="address"><i class="fas fa-map-marker-alt"></i> <span>no 4 maria okor street, Bucknor estate, ejigbo, lagos nigeria</span></p>
       <a href="update_address.html" class="btn">update address</a>
    </div>
 
 </section>
 
 <footer class="footer">

   <section class="box-container">

      <div class="box">
         <img src="email-icon.png" alt="">
         <h3>our email</h3>
         <a href="info@techub.com">info@techub.com</a>
      </div>
      <div class="box">
         <img src="map-icon.png" alt="">
         <h3>Address</h3>
         <a href="#">Digital Art Library</a>
      </div>

      <div class="box">
         <img src="phone-icon.png" alt="">
         <h3>Number</h3>
         <a href="">08069489872</a>
      </div>

   </section>

   <div class="credit"><span>Digital Art Library</span> | All Rights Reserved!</div>
</footer>  

<!--custom file-->
<script src="script.js"></script>
</body>
</html>