<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link rel="stylesheet" href="style.css">
</head>
<body>
    
<header class="header">

<section class="flex">

<a href="home.html" class="logo">TECHUB</a>

<nav class="navbar">
   <a href="home.html">Home</a>
   <a href="about.html">About</a>
   <a href="team.css">Team</a>
   <a href="contact.html">Contact</a>
</nav>

<div class="icons">
    <div id="user-btn" class="fas fa-user"></div>
    <div id="menu-btn" class="fas fa-bars"></div>
</div>

<div class="profile">
    <div class="flex">
        <a href="profile.html" class="btn">profile</a>
        <a href="#" class="delete-btn">logout</a>
    </div>
    <p class="account"><a href="login.html">login</a> or <a href="register.html">register</a></p>
</div>

</section>

</header>



<section class="home">

    <div class="swiper home-slider">
 
       <div class="swiper-wrapper">
 
          <div class="swiper-slide slide">
          </div>
 
 
       </div>
 
       <div class="swiper-pagination"></div>
 
    </div>                
 
 </section>



<section class="products">

   <h1 class="title">Latest Posts</h1>

   <div class="box-container">

      <form accept="" method="post" class="box">
         <img src="stuff.jpg" alt="">
         <div class="name">New Whatsapp update</div>
      </form>
      
      <form accept="" method="post" class="box">
         <img src="stuff.jpg" alt="">
         <div class="name">New Whatsapp update</div>
      </form>
      
      <form accept="" method="post" class="box">
         <img src="stuff.jpg" alt="">
         <div class="name">New Whatsapp update</div>
      </form>
      
      <form accept="" method="post" class="box">
         <img src="stuff.jpg" alt="">
         <div class="name">New Whatsapp update</div>
      </form>
      
      <form accept="" method="post" class="box">
         <img src="stuff.jpg" alt="">
         <div class="name">New Whatsapp update</div>
      </form>
      
      <form accept="" method="post" class="box">
         <img src="stuff.jpg" alt="">
         <div class="name">New Whatsapp update</div>
      </form>
      <form accept="" method="post" class="box">
         <img src="stuff.jpg" alt="">
         <div class="name">New Whatsapp update</div>
      </form>
      <form accept="" method="post" class="box">
         <img src="stuff.jpg" alt="">
         <div class="name">New Whatsapp update</div>
      </form>
      <form accept="" method="post" class="box">
         <img src="stuff.jpg" alt="">
         <div class="name">New Whatsapp update</div>
      </form>
      <form accept="" method="post" class="box">
         <img src="stuff.jpg" alt="">
         <div class="name">New Whatsapp update</div>
      </form>
      <form accept="" method="post" class="box">
         <img src="stuff.jpg" alt="">
         <div class="name">New Whatsapp update</div>
      </form>
      <form accept="" method="post" class="box">
         <img src="stuff.jpg" alt="">
         <div class="name">New Whatsapp update</div>
      </form>
      <form accept="" method="post" class="box">
         <img src="stuff.jpg" alt="">
         <div class="name">New Whatsapp update</div>
      </form>
      <form accept="" method="post" class="box">
         <img src="stuff.jpg" alt="">
         <div class="name">New Whatsapp update</div>
      </form>
      <form accept="" method="post" class="box">
         <img src="stuff.jpg" alt="">
         <div class="name">New Whatsapp update</div>
      </form>
      <form accept="" method="post" class="box">
         <img src="stuff.jpg" alt="">
         <div class="name">New Whatsapp update</div>
      </form>
      


   </div>



</section>


<footer class="footer">

    <section class="box-container">
 
       <div class="box">
          <img src="email-icon.png" alt="">
          <h3>our email</h3>
          <a href="">info@techub.com</a>
       </div>
 
 
       <div class="box">
          <img src="map-icon.png" alt="">
          <h3>Address</h3>
          <a href="#">Digital Art Library</a>
       </div>
 
       <div class="box">
          <img src="phone-icon.png" alt="">
          <h3>Number</h3>
          <a href="">08069489872</a>
       </div>
 
    </section>
 
    <div class="credit"><span>Digital Art Library</span> | All Rights Reserved!</div>
</footer> 






<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<script src="js/script.js"></script>

<script>

var swiper = new Swiper(".home-slider", {
   loop:true,
   grabCursor:true,
   effect: "flip",
   pagination: {
      el: ".swiper-pagination",
      clickable:true,
   },
});

</script>


<!--custom file-->
<script src="script.js"></script>
</body>
</html>